<h1>Ideabox</h1>

<h3>Ideas by Date</h3>
      
  <%= "#{ideas.count} Search Results for #{day_of_week}" %>
    
   <ul> 
    <% ideas.each do |idea| %>
      <li>
      Title: <%= idea.title %><br/>
      Description: <%= idea.description %><br/>
      Tag: <%= idea.tags%><br/>
      Created at: <%= idea.created_at.strftime("%-m/%e/%y") %><br/>
      Updated at: <%= idea.updated_at.strftime("%-m/%e/%y") %><br/>
     </li>
  <% end %>
  </ul>
